---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Results summary component">
	<main class="grid items-center justify-center min-h-[100vh] py-3 px-2">
		<div class="flex md:flex-row flex-col shadow-2xl rounded-3xl">
			<div class="flex flex-col items-center bg-gradient-to-b from-indigo-600 via-blue-700 to-indigo-800 text-white px-16 py-6 rounded-3xl">
				<h4 class="pb-7 text-xl text-gray-300 font-medium">Your Result</h4>
				<div class="flex flex-col items-center rounded-full bg-gradient-to-b from-indigo-700 via-blue-900 to-blue-950 px-11 py-8">
					<h1 class="text-6xl font-bold">76</h1>
					<p class="text-gray-300">of 100</p>
				</div>
				<div class="flex flex-col items-center py-7">
					<h2 class="pb-5 text-3xl font-medium">Great</h2>
					<p class="text-gray-300 max-w-[200px] text-center">You scored higher than 65% of the people who have taken these stats</p>
				</div>
			</div>
	
			<div class="flex flex-col px-12 py-6">
				<h2 class="pb-7 text-xl font-medium">Summary</h2>
	
				<div class="flex justify-between items-center bg-blue-50 px-3 py-3 rounded-md mb-4 w-[260px]">
					<div class="flex gap-2">
						<img src="/assets/images/icon-reaction.svg" alt="">
						<p class=" text-red-500 font-medium">Reaction</p>
					</div>
					<div class="flex gap-2">
						<p class="font-semibold text-sky-950">80</p>
						<span class="text-gray-500 font-medium">/ 100</span>
					</div>
				</div>
	
				<div class="flex justify-between items-center bg-blue-50 px-3 py-3 rounded-md mb-4">
					<div class="flex gap-2">
						<img src="/assets/images/icon-memory.svg" alt="">
						<p class=" text-yellow-500 font-medium">Memory</p>
					</div>
					<div class="flex gap-2">
						<p class="font-semibold text-sky-950">92</p>
						<span class="text-gray-500 font-medium">/ 100</span>
					</div>
				</div>
	
				<div class="flex justify-between items-center bg-blue-50 px-3 py-3 rounded-md mb-4">
					<div class="flex gap-2">
						<img src="/assets/images/icon-verbal.svg" alt="">
						<p class=" text-teal-500 font-medium">Verbal</p>
					</div>
					<div class="flex gap-2">
						<p class="font-semibold text-sky-950">61</p>
						<span class="text-gray-500 font-medium">/ 100</span>
					</div>
				</div>
	
				<div class="flex justify-between items-center bg-blue-50 px-3 py-3 rounded-md mb-4">
					<div class="flex gap-2">
						<img src="/assets/images/icon-visual.svg" alt="">
						<p class=" text-blue-800 font-medium">Visual</p>
					</div>
					<div class="flex gap-2">
						<p class="font-semibold text-sky-950">72</p>
						<span class="text-gray-500 font-medium">/ 100</span>
					</div>
				</div>
	
				<div class="mt-5">
					<button class="bg-sky-950 text-center py-3 text-white rounded-3xl w-full hover:bg-gray-900 transition-all duration-150">Continue</button>
				</div>
			</div>
		</div>
	</main>
</Layout>
